.hide {
    display: none;
}

h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 80px; 

}

/* Question text */
h2 { 
    font-family: 'Special Elite', cursive;
}
/* Answers text */
/* font-family: 'Quicksand', sans-serif; */

body {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Shadows Into Light', cursive;
}

footer {
    border: 1px solid white;
    font-family: 'Parisienne', cursive;
}
