.hide {
    display: none;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 80px;
    text-align: center;
}

body {
    font-family: 'Kaushan Script', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Special Elite', cursive;
}

footer {
    font-family: 'Parisienne', cursive;
}